* {
    font-family: 'Futura', sans-serif;
    letter-spacing: 0.025em;
    line-height: 1.6;
    text-decoration: none;
    color: rgb(110, 108, 108);
}
a {
  color: white;
}
.singleProduct img {
    width: 200px;
    height: 200px;
}
.singleProduct {
    border: 1px solid red;
    width: 250px;
    text-align: center;
}
.products {
    margin-top: 50px;
    display: grid;
    gap: 22px;
    row-gap: 45px;
    grid-template-columns: repeat(4, 1fr);
}
.products_product {
    text-align: center;
    & p {
        font-size: 16px;
    }
    & .product_content {
        width: 100%;
        height: 60%;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }
    & .product_content2 {
      background-color: rgb(153, 117, 187, 1);
      & img {
        object-fit: fill;
      }
    }
    & .product_title {
        width: 100%;
        height: 55px;
        & p {
            height: 100%;
            width: 100%;
            margin-bottom: 0;
        }
    }
    & .product_price {
        height: 30px;
        & p{
            height: 100%;
            margin-bottom: 0;
            margin-top: 10px;
    }
    }
       
    & button {
        width: 70%;
        border: none;
        margin-top: 10px;
        text-align: center;
        background-color: #0d2b68;
        color: white;
        font-size: 10px;
        padding: 10px;
        letter-spacing: 0.4em;
    }
  
}

.product {
    margin-left: 20px;
    & h2 {
        color: black;
    }
}
.pdpProduct {
    display: flex;
    justify-content: space-between;
}
.pdpProduct_images {
    width: 50%;
    display: flex;
}
.pdpProduct_data {
    width: 33%;
    & p {
        letter-spacing: 0.3em;
        font-size: 11px;
    }
    & h3, h2 {
      color: rgb(60 58 58);
    }
}
.product_images {
    display: grid;
    gap: 15px;
    & img {
        width: 125px;
        height: 125px;
    }
    
}
.product_mainImage {
    margin-left: 75px;
    & img {
        width: 350px;
        height: 350px;
    }
}
.mainImage-container {
  background-color: rgb(153, 117, 187, 1);
  
}
.product-info {
    & button {
        width: 100%;
        font-size: 10px;
    }
}
.quantity-box {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darkgrey;
    margin-bottom: 10px;
    & button {
        height: 95%;
        width: 100%;
        padding: 0;
        background: white;
        border: none;
        text-align: center;
    }
  }
  .quantityButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 100%;
    &:hover {
      button {
        font-weight: bold;
      }
    }
  }
  .decreaseQuantityButton {
    border-right: 1px solid darkgrey;
  }
  .increaseButton {
    border-left: 1px solid darkgrey;
  }
  hr {
    width: 100%;
    border-color: white;
  }
  .prevNextButtons {
    text-align: center;
     & :first-child{
        margin-right: 10px;
    }
  }

  .cart-products {
    margin-top: 50px;
    &:last-child {
      margin-bottom: 100px;
    }
  }
 .cart-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
 }
  .cart-product_image {
    width: 15%;
    height: 150px;
    & img {
        width: 100%;
        height: 100%;
    }
  }
  .cart-product-data {
    width: 35%;
  }
  .cart-product-price {
    width: 10%;
  }
  .product-cart-removeButton {
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 2px;
    padding: 2px 15px;
    margin-top: 8px;
  }
  .quantity-box-cart {
    width: 82px;
  }
  .cart-product-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .cart-drawer {
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: white;
    overflow-y: auto;
  }
  .cart-drawer_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h3 {
      color: black;
    }
    & button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: black;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  .cart_noImage {
    width: 100%;
    height: 100%;
    background-color: rgb(153, 117, 187, 1);
  }

  .cart-drawer .cart-product_image {
    width: 25%;
    height: 25%;
  }
  .cart-drawer .cart-product-price {
    width: 17%;
  }
  .cart-drawer .product-cart-removeButton {
    padding: 0 15px;
  }
  .cart-drawer .cart-product {
    align-items: center;
    margin-top: 0;
  }
  .cart-drawer .cart-products {
    margin-top: 0;
  }
  .product-content {
    position: relative;
  }
  .cart-drawer-pdp {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
  }
  .overlay-pdp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(97, 95, 95);
    opacity: 0.5;
    z-index: 1;
  }
  .total-price {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & .total-price__data {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  .total-price-cartdrawer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding-left: 14px; 
    padding-right: 15px; 
    background-color: white;
    border-top: 1px solid rgb(201, 198, 198);
    & .total-price__data {
      width: 100%;
      flex-direction: column;
      & button {
        border: none;
        background-color: black;
        width: 100%;
        padding: 13px;
        margin-bottom: 15px;
        letter-spacing: 0.4em;
      }
      & .total-price__data-cartdrawer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        & .price-title {
          letter-spacing: 0.08em;
        }
        & p {
          font-size: 15px;
        }
      }
    }
}

.cart-noItems {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}

 