* {
  box-sizing: border-box;
}

/* * {
    outline: 1px solid red;
} */
* {
  font-family: "Futura", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.6;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.header-container {
  position: relative;
}

nav {
  width: 100%;
}
nav a {
  color: #1A2F5A;
  font-size: 17px;
}

header {
  padding: 20px 0;
}
header a {
  font-size: 18px;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-items-hamburger {
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger-link {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 16px;
}

.hamburger {
  width: 35px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hamburger .hamburger-span {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-top: 5px;
}

.header-item--logo {
  width: 170px;
  height: 62px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-item--logo a {
  width: 100%;
  height: 100%;
}
.header-item--logo a img {
  width: 100%;
  height: 100%;
}

.icons {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.icons img {
  width: 100%;
  height: 100%;
}

.header-item--right {
  width: 390px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.cart-slide {
  position: absolute;
  right: 0;
  top: 17px;
  visibility: hidden;
}

.shop-list {
  position: absolute;
  top: 55px;
  left: 0;
  width: 181px;
  background-color: white;
  padding: 8px 12px;
  box-shadow: 0 0 1px;
  z-index: 100000;
  display: none;
}
.shop-list ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.shop-list ul li {
  line-height: 2em;
}

.shop-list1 li a {
  color: #1A2F5A;
}

.hamburger-list {
  height: 157px;
}
.hamburger-list ul li a {
  color: #1A2F5A;
}

.header-item--left {
  width: 380px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-item--left a:hover {
  border-bottom: 2px solid black;
}

.shop-list-visible {
  display: block;
}

.right-icons {
  display: flex;
  align-items: center;
  position: relative;
}

.shop-cart-responsive {
  position: absolute;
  right: 0;
  visibility: hidden;
}

* {
  font-family: "Futura", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.6;
  text-decoration: none;
  color: rgb(110, 108, 108);
}

a {
  color: white;
}

.singleProduct img {
  width: 200px;
  height: 200px;
}

.singleProduct {
  border: 1px solid red;
  width: 250px;
  text-align: center;
}

.products {
  margin-top: 50px;
  display: grid;
  gap: 22px;
  row-gap: 45px;
  grid-template-columns: repeat(4, 1fr);
}

.products_product {
  text-align: center;
}
.products_product p {
  font-size: 16px;
}
.products_product .product_content {
  width: 100%;
  height: 60%;
}
.products_product .product_content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products_product .product_content2 {
  background-color: rgb(153, 117, 187);
}
.products_product .product_content2 img {
  -o-object-fit: fill;
     object-fit: fill;
}
.products_product .product_title {
  width: 100%;
  height: 55px;
}
.products_product .product_title p {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}
.products_product .product_price {
  height: 30px;
}
.products_product .product_price p {
  height: 100%;
  margin-bottom: 0;
  margin-top: 10px;
}
.products_product button {
  width: 70%;
  border: none;
  margin-top: 10px;
  text-align: center;
  background-color: #0d2b68;
  color: white;
  font-size: 10px;
  padding: 10px;
  letter-spacing: 0.4em;
}

.product {
  margin-left: 20px;
}
.product h2 {
  color: black;
}

.pdpProduct {
  display: flex;
  justify-content: space-between;
}

.pdpProduct_images {
  width: 50%;
  display: flex;
}

.pdpProduct_data {
  width: 33%;
}
.pdpProduct_data p {
  letter-spacing: 0.3em;
  font-size: 11px;
}
.pdpProduct_data h3, .pdpProduct_data h2 {
  color: rgb(60, 58, 58);
}

.product_images {
  display: grid;
  gap: 15px;
}
.product_images img {
  width: 125px;
  height: 125px;
}

.product_mainImage {
  margin-left: 75px;
}
.product_mainImage img {
  width: 350px;
  height: 350px;
}

.mainImage-container {
  background-color: rgb(153, 117, 187);
}

.product-info button {
  width: 100%;
  font-size: 10px;
}

.quantity-box {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid darkgrey;
  margin-bottom: 10px;
}
.quantity-box button {
  height: 95%;
  width: 100%;
  padding: 0;
  background: white;
  border: none;
  text-align: center;
}

.quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 100%;
}
.quantityButton:hover button {
  font-weight: bold;
}

.decreaseQuantityButton {
  border-right: 1px solid darkgrey;
}

.increaseButton {
  border-left: 1px solid darkgrey;
}

hr {
  width: 100%;
  border-color: white;
}

.prevNextButtons {
  text-align: center;
}
.prevNextButtons :first-child {
  margin-right: 10px;
}

.cart-products {
  margin-top: 50px;
}
.cart-products:last-child {
  margin-bottom: 100px;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cart-product_image {
  width: 15%;
  height: 150px;
}
.cart-product_image img {
  width: 100%;
  height: 100%;
}

.cart-product-data {
  width: 35%;
}

.cart-product-price {
  width: 10%;
}

.product-cart-removeButton {
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 2px;
  padding: 2px 15px;
  margin-top: 8px;
}

.quantity-box-cart {
  width: 82px;
}

.cart-product-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-drawer {
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: white;
  overflow-y: auto;
}

.cart-drawer_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-drawer_title h3 {
  color: black;
}
.cart-drawer_title button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: black;
}
.cart-drawer_title button:hover {
  background-color: black;
  color: white;
}

.cart_noImage {
  width: 100%;
  height: 100%;
  background-color: rgb(153, 117, 187);
}

.cart-drawer .cart-product_image {
  width: 25%;
  height: 25%;
}

.cart-drawer .cart-product-price {
  width: 17%;
}

.cart-drawer .product-cart-removeButton {
  padding: 0 15px;
}

.cart-drawer .cart-product {
  align-items: center;
  margin-top: 0;
}

.cart-drawer .cart-products {
  margin-top: 0;
}

.product-content {
  position: relative;
}

.cart-drawer-pdp {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}

.overlay-pdp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(97, 95, 95);
  opacity: 0.5;
  z-index: 1;
}

.total-price {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.total-price .total-price__data {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-price-cartdrawer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  padding-left: 14px;
  padding-right: 15px;
  background-color: white;
  border-top: 1px solid rgb(201, 198, 198);
}
.total-price-cartdrawer .total-price__data {
  width: 100%;
  flex-direction: column;
}
.total-price-cartdrawer .total-price__data button {
  border: none;
  background-color: black;
  width: 100%;
  padding: 13px;
  margin-bottom: 15px;
  letter-spacing: 0.4em;
}
.total-price-cartdrawer .total-price__data .total-price__data-cartdrawer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.total-price-cartdrawer .total-price__data .total-price__data-cartdrawer .price-title {
  letter-spacing: 0.08em;
}
.total-price-cartdrawer .total-price__data .total-price__data-cartdrawer p {
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-item--left {
    visibility: hidden;
  }
  .hamburger-link {
    visibility: visible;
  }
  .header-items-hamburger {
    width: 35%;
  }
  .header-item--logo {
    width: 163px;
    height: 55px;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .pdpProduct {
    display: block;
  }
  .pdpProduct_images {
    width: 100%;
  }
  .pdpProduct_data {
    margin-top: 40px;
    width: 45%;
    margin-right: 12%;
  }
  .product_mainImage {
    width: 40%;
  }
  * {
    line-height: 1;
  }
  .cart-product_image {
    width: 21%;
    height: 135px;
  }
  .cart-products {
    padding: 0 10px;
  }
  .right-icons {
    width: 40%;
  }
  .quantity-box {
    height: 23px;
  }
  .total-price h3 {
    right: 0px;
  }
}
@media (max-width: 767px) {
  .header-item--left {
    visibility: hidden;
  }
  .header-items-hamburger {
    width: 30%;
  }
  .header-item--logo {
    width: 44%;
    height: 100%;
  }
  .header-item--right {
    width: 70%;
    height: 100%;
    visibility: hidden;
  }
  .icons {
    width: 18%;
    height: 100%;
    margin-left: 10px;
  }
  .hamburger-link {
    visibility: visible;
  }
  .hamburger .hamburger-span {
    width: 25px;
    height: 2px;
    margin-top: 4px;
  }
  .shop-cart-responsive {
    visibility: visible;
    width: 14%;
    height: 100%;
  }
  .right-icons {
    justify-content: flex-end;
  }
  .cart-icon-responsive {
    width: 100%;
    margin-left: 0;
  }
  .products {
    grid-template-columns: 1fr;
  }
  * {
    line-height: 1;
  }
  .products_product div {
    width: 70%;
    margin-left: 0;
  }
  .products_product div p {
    text-align: center;
  }
  .products_product .product_content {
    height: 60%;
    width: 65%;
    margin-left: 18%;
  }
  .products_product button {
    width: 47%;
  }
  .products_product .product_price {
    width: 100%;
  }
  .products_product .product_title {
    height: 30px;
  }
  .pdpProduct {
    display: block;
  }
  .pdpProduct_images {
    width: 100%;
  }
  .product-info {
    text-align: left;
    width: 100%;
  }
  .product-info button {
    width: 100%;
  }
  .pdpProduct_data {
    width: 54%;
    margin-top: 10%;
    margin-left: 22%;
  }
  .pdpProduct_data hr {
    width: 100%;
  }
  .pdpProduct_data h2, .pdpProduct_data h3 {
    font-size: 18px;
  }
  .product_mainImage {
    margin-left: 15%;
    width: 60%;
    height: 80%;
  }
  .product_mainImage img {
    width: 100%;
    height: 100%;
  }
  .cart-product_image {
    width: 30%;
    height: 100%;
  }
  .cart-product-data {
    width: 38%;
  }
  .cart-product-price {
    width: 16%;
  }
  .product_images img {
    width: 110px;
    height: 110px;
  }
  .quantity-box {
    height: 18px;
    width: 80px;
  }
  .quantityButton {
    height: 100%;
  }
  .cart-drawer-pdp {
    width: 65%;
  }
  .cart-drawer .quantity-box-cart {
    width: 60%;
  }
  .cart-drawer .product-cart-removeButton {
    padding: 0 6px;
  }
  .total-price .total-price__data {
    width: 100%;
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */